@import "tailwindcss";

@theme {
  --color-primary: #4a90e2;             /* Azul principal, botones activos y detalles */
  --color-secondary: #b0c4de;           /* Azul grisáceo claro, bordes o fondos secundarios */
  --color-background: #e6f0fa;          /* Fondo general del dashboard */
  --color-light: #ffffff;          /* Texto claro, por ejemplo sobre fondos azules */
  --color-border: #003366;              /* Bordes oscuros, probablemente no muy usados aquí */
  --color-accent: #007aff;
}

body{
  background-color: rgb(229, 231, 235);
}

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinMoreSlow {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes fade-in-out {
  0% { opacity: 0; transform: translateY(-10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}

.spin-slow {
  animation: spinSlow 3s linear infinite;
}
.spin-more-slow {
  animation: spinMoreSlow 6.5s linear infinite;
}

.leaflet-left{
  margin-left: 20px;
}


.animate-fade-in-out {
  animation: fade-in-out 3s ease-in-out forwards;
}