@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #4a90e2;       /* Azul vibrante */
  --color-secondary: #b0c4de;     /* Azul grisáceo claro */
  --color-background: #e6f0fa;    /* Fondo claro */
  --color-light: #ffffff;         /* Blanco para textos sobre fondo oscuro */
  --color-border: #003366;        /* Azul muy oscuro */
  --color-accent: #007aff;        /* Azul acentuado para énfasis */
  --color-text: #000000;
}

.dark {
  --color-primary: #3970b4;       /* Versión más oscura de #4a90e2 */
  --color-secondary: #1e2f48;     /* Fondo de sidebar, similar al tono intermedio oscuro */
  --color-background: #0f192f;    /* Fondo general oscuro */
  --color-light: #cfd8e3;         /* Texto claro sobre fondo oscuro */
  --color-border: #2a3b55;        /* Bordes entre módulos en modo oscuro */
  --color-accent: #339bff;        /* Azul brillante pero legible sobre fondo oscuro */
  --color-text: #ffffff;         /* Texto claro para mejor legibilidad */
}



body{
  background-color: rgb(229, 231, 235);
}

@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spinMoreSlow {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes fade-in-out {
  0% { opacity: 0; transform: translateY(-10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}

.spin-slow {
  animation: spinSlow 3s linear infinite;
}
.spin-more-slow {
  animation: spinMoreSlow 6.5s linear infinite;
}

.leaflet-left{
  margin-left: 20px;
}


.animate-fade-in-out {
  animation: fade-in-out 3s ease-in-out forwards;
}