---
import Nav from '../components/Nav.astro';
import Planes from '../components/Planes';
import "../styles/global.css";

---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aviones en África</title>
  </head>
  <Nav>
    <Planes region={"Africa"} client:load />
  </Nav>
</html>