---
import AfricaPlanes from '../components/AfricaPlanes';
import Nav from '../components/Nav.astro';
import "../styles/global.css";

---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aviones en África</title>
  </head>
  <Nav>
    <h1 class="text-2xl font-bold mb-4">PROYECTO AVIONES</h1>
    <AfricaPlanes client:load />
  </Nav>
</html>