---
import EuropaPlanes from "../components/EuropaPlanes.jsx";
import Header from "./Header.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aviones sobre España</title>
  </head>
  <body>
    <Header />

    <main style="padding: 1rem;">
      <h1>Aviones sobre Europa</h1>
      <EuropaPlanes client:load />
    </main>
  </body>
</html>
