---
import PIA from '../components/AvionesEuropa.jsx';
import Nav from '../components/Nav.astro';
export const prerender = false
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Astro con React</title>
  </head>
  <body>
    <Nav />
    <main style="padding: 1rem;">
      <h1>PROYECTO AVIONES</h1>
      <PIA client:load />
    </main>
  </body>
</html>
