---
// src/pages/index.astro
import PIA from "../components/AvionesEuropa.jsx";
import Layout from '../Layouts/Layout.astro';
import "../styles/global.css";
---

<Layout title="Aviones Europa">
    <h1 class="text-2xl font-bold mb-4">PROYECTO AVIONES</h1>
    <PIA client:load />
</Layout>
