---
import PIA from "../components/AvionesEuropa.jsx";
import Header from "../components/Header.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Astro con React</title>
  </head>
  <body>
    <Header />

    <main style="padding: 1rem;">
      <h1>PROYECTO APIONES</h1>
      <PIA client:load />
    </main>
  </body>
</html>
