---
import Layout from '../Layouts/Layout.astro';
---

<Layout title="Disclaimer legal">
  <div class="lg:h-screen lg:flex lg:items-center sm:mb-8 sm:mt-8 md:mb-8 md:mt-8 lg:mb-0 lg:mt-0 justify-center bg-background">
    <section class="max-w-2xl mx-auto bg-light dark:bg-secondary  sm:rounded-lg md:rounded-lg lg:rounded-lg shadow-md md:mb-8 p-8">
            <h2 class="text-2xl font-bold mb-4 text-text">Disclaimer Legal</h2>
            <p class="mb-4 text-text">
                La información proporcionada en este sitio web es solo para fines informativos y educativos. No debe considerarse como asesoramiento legal, profesional o de ningún otro tipo. Aunque nos esforzamos por mantener la información actualizada y precisa, no garantizamos la exactitud, integridad o actualidad de los contenidos. El uso de este sitio web implica la aceptación de estos términos y condiciones, y el usuario asume toda la responsabilidad derivada de su uso.
            </p>
            <p class="mb-4 text-text">
                Este sitio web utiliza la API proporcionada por <a href="https://adsb.lol" target="_blank" rel="noopener noreferrer" class="text-sky-300 underline hover:text-sky-600">ADSB.LOL</a>. Consulta su <a href="https://github.com/adsblol/docs/blob/main/LICENSE.md" target="_blank" rel="noopener noreferrer" class="text-sky-300 underline hover:text-sky-600">licencia aquí</a>.
            </p>
            <p class="mb-4 text-text">
                Los iconos utilizados en este sitio web han sido creados por Freepik, amoghdesign y iconset.co y se obtuvieron de <a href="https://www.flaticon.com/" target="_blank" rel="noopener noreferrer" class="text-sky-300 underline hover:text-sky-600">Flaticon</a>. Consulta la <a href="https://www.flaticon.com/license" target="_blank" rel="noopener noreferrer" class="text-sky-300 underline hover:text-sky-600">licencia de Flaticon aquí</a>.
            </p>
            <p class="mb-4 text-text">
                Esta web se ha realizado con fines educativos y de aprendizaje, sin fines comerciales. Forma parte del proyecto integrado de fin de curso del ciclo formativo de grado superior de desarrollo de aplicaciones web.
            </p>
            <hr class="my-6 border-gray-300" />
            <p class="mb-6 text-gray-600 dark:text-light font-medium">
                APIONES &copy; {new Date().getFullYear()} Todos los derechos reservados.
            </p>
            <h3 class="text-xl font-semibold mb-3 text-gray-800 dark:text-text">Autores del proyecto</h3>
            <ul class="list-disc list-inside space-y-2 text-gray-700 dark:text-text">
                <li>
                    Jesús Frías Rojas: <a href="https://github.com/a21frroje" target="_blank" rel="noopener noreferrer" class="text-sky-300 underline hover:text-sky-600">GitHub</a> - <a href="https://www.linkedin.com/in/jes%C3%BAs-fr%C3%ADas-rojas-6075b8330/" target="_blank" rel="noopener noreferrer" class="text-sky-300 underline hover:text-sky-600">LinkedIn</a>
                </li>
                <li>
                    Javier Ruíz Molero: <a href="https://github.com/javierrm11" target="_blank" rel="noopener noreferrer" class="text-sky-300 underline hover:text-sky-600">GitHub</a> - <a href="http://www.linkedin.com/in/javierrm11" target="_blank" rel="noopener noreferrer" class="text-sky-300 underline hover:text-sky-600">LinkedIn</a>
                </li>
                <li>
                    Alejandro Vaquero Abad: <a href="https://github.com/AlxMedit" target="_blank" rel="noopener noreferrer" class="text-sky-300 underline hover:text-sky-600">GitHub</a> - <a href="https://www.linkedin.com/in/alejandro-vaq-abad/" target="_blank" rel="noopener noreferrer" class="text-sky-300 underline hover:text-sky-600">LinkedIn</a>
                </li>
            </ul>
        </section>
    </div>
    </Layout>