---
import MapaAviones from "../components/MapaAviones.jsx";
import Header from "./Header.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mapa de Aviones</title>
  </head>
  <body>
    <Header />
    <h1>Mapa de Aviones</h1>
    <MapaAviones client:only />
  </body>
</html>
