---
import MapaAviones from '../components/MapaAviones.jsx';
import Nav from '../components/Nav.astro';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mapa de Aviones</title>
  </head>
  <body>
    <Nav />
    <h1>Aviones sobre España</h1>
    <MapaAviones client:load />
  </body>
</html>
