---
import MapaAviones from '../components/MapaAviones.jsx';
import Nav from '../components/Nav.astro';
import "../styles/global.css";

---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mapa de Aviones</title>
  </head>
  <Nav>
    <h1 class="text-2xl font-bold mb-4">PROYECTO AVIONES</h1>
    <MapaAviones client:load />
  </Nav>
</html>
