---
import MapaAviones from '../components/MapaAviones.jsx';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mapa de Aviones</title>
  </head>
  <body>
    <h1>Planes over Spain (no me deja poner Spain en Spanish porque se bugea la ene que solo usamos nosotros)</h1>
    <h2>España???</h2>
    <MapaAviones client:load />
  </body>
</html>
