---
import OceaniaPlanes from '../components/OceaniaPlanes';
import Nav from '../components/Nav.astro';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aviones en Oceanía</title>
  </head>
  <body>
    <Nav />

    <main style="padding: 1rem;">
      <h1>Aviones detectados en Oceanía</h1>
      <OceaniaPlanes client:load />
    </main>
  </body>
</html>