---
import SpainPlanes from "../components/SpainPlanes.jsx";
import Header from '../components/Header.astro';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aviones sobre España</title>
  </head>
  <body>
    <Header />

    <main style="padding: 1rem;">
      <h1>Aviones sobre España</h1>
      <SpainPlanes client:load />
    </main>
  </body>
</html>
