---
let data = null;
let error = null;

try {
  const response = await fetch('http://localhost:4321/api/pia');
  if (!response.ok) {
    throw new Error('Error en la solicitud: ' + response.statusText);
  }
  data = await response.json();
} catch (err) {
  error = err;
}
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Astro</title>
  </head>
  <body>
    <h1>Bienvenido a mi proyecto Astro</h1>

    <div>
      <h1>Datos PIA</h1>
      {error ? (
        <div>Error: {error}</div>
      ) : (
        <pre>{JSON.stringify(data, null, 2)}</pre>
      )}
    </div>
  </body>
</html>
