---
import LayoutWrapper from '../components/LayoutWrapper.jsx';
import Footer from '../components/Footer';
import "../styles/global.css";
interface Props {
  title: string;
}
const { title } = Astro.props as Props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <script src="../utils/script.js"></script>
    
  </head>
  <LayoutWrapper client:only>
    <slot />
  </LayoutWrapper>
  <Footer />
</html>