---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer';
import "../styles/global.css";
interface Props {
  title: string;
}
const { title } = Astro.props as Props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <Nav>
    <slot></slot>
  </Nav>
  <Footer />
</html>